<div class="container-fluid">

    <div class="text-center mb-4">
        <h3>Tour Packages</h3>
        <p>Add and manage travel packages easily</p>
    </div>

    <form ng-submit="addPackage()" class="card p-3 mb-4">

        <div class="row g-2">
            <div class="col-md-3">
                <input class="form-control" ng-model="package.name"
                placeholder="Package Name" required>
            </div>

            <div class="col-md-3">
                <input class="form-control" ng-model="package.location"
                placeholder="Location" required>
            </div>

            <div class="col-md-2">
                <input class="form-control" ng-model="package.duration"
                placeholder="Duration" required>
            </div>

            <div class="col-md-2">
                <input type="number" class="form-control"
                ng-model="package.price" placeholder="Price" required>
            </div>

            <div class="col-md-2 d-grid">
                <button class="btn btn-success">Add</button>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-md-4 mb-3" ng-repeat="(id,p) in packages">

            <div class="card h-100">

                <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470"
                     class="card-img-top">

                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">
                        📍 {{p.location}} <br>
                        ⏳ {{p.duration}} <br>
                        💰 ₹{{p.price}}
                    </p>

                    <button class="btn btn-warning btn-sm"
                        ng-click="editPackage(id,p)">Edit</button>

                    <button class="btn btn-danger btn-sm float-end"
                        ng-click="deletePackage(id)">Delete</button>
                </div>

            </div>

        </div>
    </div>

</div>